@model IEnumerable<ShowBill.Web.Models.EventModels.EventListItemViewModel>

@namespace ShowBill.Web.Models
@{
    var popular = Model.Take(5).ToList();
}
<div class="jumbotron">
    @Html.Partial("MostPopularCarousel", popular)
    @Html.Partial("EventList", Model)
</div>

