@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ApiUrl = "https://maps.googleapis.com/maps/api/js?key="
        + Configuration["GoogleMapsKey"]
        + "&libraries=places&callback=initMap";
}
<div class="jumbotron">
    <input id="place" type="text" />
    <div id="map" class="event-map"></div>
</div>

@section scripts
    {
    <script>
    function initMap() {
        const events = JSON.parse('@Html.Raw(Model)');
        initFullMap(events);
        }
    </script>
    <script src="/js/map.js"></script>
    <script async defer src=@ApiUrl></script>
}
