@model IEnumerable<ShowBill.Web.Models.EventModels.EventListItemViewModel>

@namespace ShowBill.Web.Models
@{
    var popular = Model.Take(5).ToList();
}
<div class="jumbotron">
    <partial name="MostPopularCarousel" model='popular' />
    <partial name="EventList" model='Model'/>
</div>

