@using ShowBill.Models;
@model IList<EventViewModel>

<div style="margin-left: auto; margin-right: auto; display: flex; justify-content:center; flex-wrap: wrap;">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div style="width:48%; display:inline-block; margin:5px; border:1px solid black;">
            <img src=@Model[i].Photo />
            <div>
                <div>@Model[i].Title</div>
                <div>@Model[i].Place</div>
                @if (Model[i].Cost != null)
                {
                    <div>@Model[i].Cost</div>
                }
                <div>@Model[i].Date</div>
            </div>
        </div>
    }
</div>